{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mediatimesrc_vimeo/media_resource

    This template will render a resource to embed in library

    Variables required for this template:

    Variables optional for this template:

    Example context (json):
    {
       "canedit": true,
       "id": 2,
       "resource": {
           "title": "title",
           "name": "name",
           "description": "big and blue"
       }
    }

}}
<div class="library-resource">
    <form action="." method="post">
       {{# canedit }}
           <input type="hidden" name="source" value="vimeo">
           <button type="submit" name="edit" value="{{ id }}">{{# str }} edit {{/ str }}</button>
           <button type="submit" name="delete" value="{{ id }}">{{# str }} delete {{/ str }}</button>
       {{/ canedit }}
       {{# libraryhome }}
       <a href="{{ libraryhome }}">{{# str }}library, tool_mediatime {{/ str }}</a>
       {{/ libraryhome }}
    </form>
    <div class="container-fluid">
        <h3>{{ name }}</h3>
        <h4>{{ resource.name }}</h4>
            {{{ video }}}
        <p>{{ resource.description }}</p>
        <div class="">
            <h5>{{# str }} filelinks, tool_mediatime {{/ str }}</h5>
            <a
                href="{{ resource.link }}"
                target="_blank"
            ><div>Playlist</div></a>
        </div>
    </div>
</div>
